.contact {
  padding: 118px 0 107px;
  background-image: url("../../Assets/Images/contact-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &__title {
    max-width: 694px;
    font-weight: 800;
    font-size: 45px;
    line-height: 55px;
    margin: 0 auto;
    margin-bottom: 102px;
    color: #17181c;
  }

  &__container {
    text-align: center;
  }

  &__form {
    margin: 0 auto;
    width: 618px;
  }

  &__label {
    text-align: start;
    padding-left: 48px;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    display: block !important;
    color: #17181c;
  }

  &__input {
    font-weight: 700;
    font-size: 16px;
    padding: 20px 109px 20px 28px;
    line-height: 22px;
    color: #17181c;
    background: #ffffff;
    border-radius: 5px;
    border: none;
    margin-right: 18px;
    &::placeholder {
      color: #17181c;
    }
  }
}

@media screen and (max-width: 767px) {
  .contact {
    padding: 75px 0 70px;
    &__title {
      max-width: 272px;
      font-size: 30px;
      line-height: 35px;
      margin: 0 auto;
      margin-bottom: 34px;
    }

    &__form {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 100%;
    }

    &__label {
      padding-left: 28px;
    }

    &__input {
      width: 100%;
      margin-bottom: 41px;
      font-weight: 700;
      font-size: 16px;
      padding: 20px 109px 20px 28px;
      line-height: 22px;
      color: #17181c;
      background: #ffffff;
      border-radius: 5px;
      border: none;
      margin-right: 0;
      &::placeholder {
        color: #17181c;
      }
    }

    &__btn {
      max-width: 250px;
      margin: 0 auto;
    }
  }
}
