.main {
    margin-top: 300vh;
}

.cards {
    
    &__container {
        margin-bottom: 150px;

    }
    
    &__heading {
        font-weight: 800;
        font-size: 45px;
        line-height: 55px;
        text-align: center;
        text-transform: uppercase;
        color: #17181C;
        margin-bottom: 22px;
    }
    
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 12px;
        margin-bottom: 12px;
    }
    
    &__arrow {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: flex-end;
        
        &__left {
            background: #FFFFFF;
            border: 2px solid rgba(73, 104, 129, 0.1);
            box-shadow: 0px 4px 20px rgba(73, 104, 129, 0.1);
            border-radius: 50%;
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__right {
            background: #FFFFFF;
            border: 2px solid rgba(73, 104, 129, 0.1);
            box-shadow: 0px 4px 20px rgba(73, 104, 129, 0.1);
            transform: rotate(180deg);
            border-radius: 50%;
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@media screen and (max-width: 500px) {
    .cards {
    
        &__container {
            margin-bottom: 150px;
    
        }
        
        &__heading {
            font-weight: 800;
            font-size: 30px;
            line-height: 35px;
            text-align: center;
            text-transform: uppercase;
            color: #17181C;
            margin-bottom: 12px;
        }
        
        &__wrapper {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 12px;
            margin-bottom: 12px;
        }
        
        &__arrow {
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: flex-end;
            
            &__left {
                background: #FFFFFF;
                border: 2px solid rgba(73, 104, 129, 0.1);
                box-shadow: 0px 4px 20px rgba(73, 104, 129, 0.1);
                border-radius: 50%;
                width: 32px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
    
            &__right {
                background: #FFFFFF;
                border: 2px solid rgba(73, 104, 129, 0.1);
                box-shadow: 0px 4px 20px rgba(73, 104, 129, 0.1);
                transform: rotate(180deg);
                border-radius: 50%;
                width: 32px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}