.card {
    width: 202px;
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: 2px solid rgba(73, 104, 129, 0.1);
    border-radius: 10px;
}